extends layout

block content
  h1= title

  p Hi user: #{user_id}
  p Here your lastly edited 5 notes will be displayed, content is truncated

  div(class="show_notes")
    ul(class="note_list")
      each item in data
        li(class="note_list_item_index")
          p
          strong Title:
          p= item[0]
          strong  Content:
          p= item[1]
          strong Tags:
          p= item[2]
          strong NoteID:
          p= item[3]
          strong Last Modified:
          p= item[4]
          button(onclick="window.location.href='/view_note?id=" + item[3] +"'") VIEW

  div(class="new_note")
    p Create new note
    button(onclick="window.location.href='/new_note';") + NEW NOTE

  div(class="search_notes")
    p Search for notes
    form(class="notes_display" action="/search_notes" method="POST")
      input(type="text" name="search_val")
      input(type="submit" value="SEARCH FOR NOTES")
